<div class="">
  <table>
    <thead>
      <tr>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td> <%= link_to user.first_name, user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<%= form_with model: @user, local: true, html:{class:''}, data: { behavior:'autosave'} , do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit %>
<% end %>

